//
// Variables
// --------------------------------------------------


//Colors




//==Sections
@base-section-color-bg:    #f5f7f8;
@base-section-background:  radial-gradient(circle, rgba(251,254,255,1) 0%, rgba(221,221,221,1) 60%, rgba(207,216,220,1) 100%);

//==Base Text
@base-font-color:             #6a7b84;

//====Links
@base-link-color:             #6a7b84;
@link-hover-color:            darken(@base-link-color, 25%);


//==Footer
@footer-background-color:    #cfd8dc;
@footer-font-color:          #6a7b84;



//Sizing



@base-font-weight:        300;



//Selectors
