/* Main Styles */
body {
  background-color: #f2f2f2;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #6a7b84;
  padding-top: 50px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
/* Titles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato";
  font-weight: 300;
  color: #333;
}
/* Paragraph & Typographic */
p {
  line-height: 28px;
  margin-bottom: 25px;
}
.centered {
  text-align: center;
}
/* Links */
a {
  color: #6a7b84;
  word-wrap: break-word;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}
a:hover,
a:focus {
  color: #31393d;
  text-decoration: none;
  outline: 0;
}
a:before,
a:after {
  transition: color 0.1s ease-in, background 0.1s ease-in;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/* ==========================================================================
   Wrap Sections
   ========================================================================== */
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#headerwrap {
  background: radial-gradient(circle, #fbfeff 0%, #dddddd 60%, #cfd8dc 100%);
  background-color: #f5f7f8;
  height: 100vh;
  position: relative;
}
#headerwrap h1,
#headerwrap h3,
#headerwrap h5,
#headerwrap p {
  color: #6a7b84;
}
#headerwrap h1 {
  margin-top: 30px;
  font-size: 70px;
}
#headerwrap h3 {
  font-size: 30px;
  line-height: 40px;
}
#headerwrap h5 {
  font-weight: 700;
  text-align: left;
}
#headerwrap p {
  text-align: left;
}
/* intro Wrap */
#intro {
  padding-top: 50px;
  border-top: #bdc3c7 solid 5px;
}
#features {
  padding-top: 50px;
  padding-bottom: 50px;
}
#features .ac a {
  font-size: 20px;
}
/* Showcase Wrap */
#showcase {
  display: block;
  background-color: #34495e;
  padding-top: 50px;
  padding-bottom: 50px;
}
#showcase h1,
#footerwrap,
#footerwrap h3,
#footerwrap p {
  color: #6a7b84;
}
#footerwrap {
  background-color: #cfd8dc;
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: left;
}
#footerwrap h3 {
  font-size: 28px;
}
#footerwrap p {
  font-size: 18px;
}
/* Copyright Wrap */
#c {
  background: #bcc8ce;
  padding-top: 15px;
  text-align: center;
}
#c p {
  color: #6a7b84;
}
h3.feature-title {
  color: #329ef4;
}
ol.features {
  padding: 0px;
}
ol.features li {
  margin-bottom: 15px;
  padding-left: 5px;
}
.contact-link {
  margin-bottom: 10px;
}
.contact-link i {
  margin-right: 7px;
}
#top {
  position: absolute;
  top: 0;
  left: 0;
}
